@media (max-width: 600px){
    /* .dine-in-order {
        top:0 !important;
        left:0 !important;
        width: 19% !important;
        height: 19% !important;
        float: left;
        position: relative;
        margin: 5px;
    }*/
}