.menu-stock {
    float: left;
    width: 115px;
    height: 150px;
    margin: 20px 15px 30px 20px;
    position: relative;
    cursor: pointer;
    text-align: center !important;
    color: #898989;
    padding: 5px;
    border: 1px solid #e1e1e1;
    background: #fff;
	border-radius:5px 5px 0 0;
}

.menu-stock img {
    width: 100px;
    margin: 0 auto;
}

.stock-btn {
    position: absolute;
    bottom: -45px;
    width: 113px !important;
    left: 0;
}